body {
  background: linear-gradient(to right, #76287d, #0077ff);
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#quote-box {
  background: white;
  color: black;
  padding: 2rem;
  border-radius: 20px;
  max-width: 400px; // Prevents card from expanding too much
  width: 100%;      // Allows it to shrink on small screens 
}
#tweet-quote{
  background-color: #0077ff;
  color: white;
  border: 3px solid #0077ff;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 20px;
}
